body {
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.login-button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 16px 40px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
}

.login-button:hover {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    transform: scale(1px);
}

.h1-login {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.input-element {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.login {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 1000px;
    background-color: #F4F4F4;
    padding: 50px 100px 100px 100px;
    border: 1px solid black;
    border-radius: 20px
}

.login-section {
    box-sizing: border-box;
    margin: 65px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    color: #000000;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input {
    border: 1px solid #605f5f;
    border-radius: 5px;
    padding: 16px 16px;
    width: 300px;
}

.input::placeholder {
    color: #878484;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input:focus {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 16px 16px;
    width: 300px;

    color: #000000;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.input:not(:placeholder-shown) {
    color: #000000;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


/* TABLETA */
@media (max-width: 1024px) {
 
    .login {
        width: 100%;
        padding: 50px 60px 80px 60px;
    }
}
 
 
/* MOBIL */
@media (max-width: 767px) {
 
    .login-section {
        margin: 24px 16px;
    }
 
    .login {
        width: 100%;
        padding: 40px 24px 60px 24px;
    }
 
    .input {
        width: 100%;
        box-sizing: border-box;
    }
 
    .input:focus {
        width: 100%;
    }
 
    .input-element {
        width: 100%;
    }
 
    .login-button {
        width: 100%;
    }
}